@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
*
{
    margin: 0%;
    padding: 0%;
    text-decoration: none;
}

:root
{
    --principal_color: #272727;
    --secundaria_color: #22D4FD;
    --terciaria_color: #f6f6f6;
    --background_color: black;

    --font_principal: "Montserrat", sans-serif;
    --font_secundaria: "Krona One", sans-serif;
}

body
{
    /* height: 100vh;  */
    box-sizing: border-box;
    background: var(--background_color);
    color: var(--terciaria_color);
}

.cabecalho
{
    padding: 2% 0% 0% 15%;
}

.cabecalho_menu
{
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.cab_menu_link
{
    font-family: var(--font_principal);
    font-size: 1.5rem;
    font-weight: 37.5;
    color: var(--secundaria_color);
    text-decoration: none;
}

.str1
{
    color: var(--secundaria_color);
}

main{
margin: 5% 15%;
display: flex;
align-items: center;
flex-direction: row;
justify-content: space-between;
gap: 82px;

}

.sec1
{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.h1-1
{
    font-family: var(--font_secundaria);
    font-size: 2.25;
    font-weight: lighter;
}

.h2-1
{
    font-family: var(--font_secundaria);
    font-size: 1.5rem;
    font-weight: 25rem;
}

.p1-1
{
    font-family: var(--font_principal);
    font-size: 1.5rem;
}

.div-1
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.buttonlinks
{
    /* background-color: #22D4FD; */
    display: flex;
    justify-content: center; 
    gap: 16px;
    
    border: var(--secundaria_color);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--terciaria_color);
    font-family: var(--font_principal);
    border: 2px solid var(--secundaria_color);
}

.icons :hover
{
scale: 1.05;
background-color: var(--principal_color);
}

.link_hover:hover
{
color: var(--secundaria_color);
}

.rodape
{
    background-color: var(--secundaria_color);
    padding: 1rem;
    color: var(--principal_color);
    text-align: center;
    font-size: 32px;
    font-weight: 400px;
}

.apresent_img
{
    width: 50%;
}

@media (max-width: 1200px)
{

    main
    {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .cabecalho
    {
        padding: 10%
    }

    .cabecalho_menu
    {
        justify-content: center;
    }

    .sec1
    {
        width: auto;
    }

}